:root {
  --brandkit-button-color: #6444F4;

  --black: #000000;
  --white: #FFFFFF;
  --general-black: #15343A;
  --general-white: #FEFDFF;
  --backdrop: rgb(0 0 0 / 30%);

  --neural-900: #0F172A;
  --neural-800: #1E293B;
  --neural-700: #334155;
  --neural-600: #475569;
  --neural-500: #64748B;
  --neural-400: #94A3B8;
  --neural-300: #CBD5E1;
  --neural-200: #E2E8F0;
  --neural-100: #F1F5F9;
  --neural-50: #F8FAFC;

  --brand-purpe-900: #0F172A;
  --brand-purpe-800: #1B096C;
  --brand-purpe-700: #29138E;
  --brand-purpe-600: #3A20B0;
  --brand-purpe-500: #4E30D2;
  --brand-purpe-400: #6444F4;
  --brand-purpe-300: #8A70FF;
  --brand-purpe-200: #AC9AFF;
  --brand-purpe-100: #CEC3FF;
  --brand-purpe-50: #F0ECFF;
  --brand-purpe-20: #F5F4FE;
  --brand-purpe-10: #FAF9FF;

  --yellow-100: #FFE9BE;
  --yellow-200: #FFD37D;
  --yellow-300: #DB9100;

  --error-red-200: #BA3E00;
  --text-success: #00814F;
  --tag-green: #F1FAF8;

  --text-error: #BA3E00;
  --tag-red: #FBF5F2;

  --gradient-color-1: #4452F4;
  --gradient-color-2: #775CF1;
  --gradient-violet: linear-gradient(90deg, #4452f4 62.04%, #775cf1 102.04%);
}
