.container {
  position: absolute;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  z-index: 100;

  align-items: start;

  padding: 20px;

  width: 306px;
  max-height: 220px;

  border-radius: var(--small_blocks, 12px);
  background: var(--general-white, #fefdff);

  box-shadow:
          1.313px 1.969px 0px 0px rgba(255, 255, 255, 0.6) inset,
          -12.177px 36.69px 44.901px 0px rgba(81, 78, 120, 0.18);

  & > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

  }
}

.quiz_option {
  display: flex;
  align-items: center;
}

.timer {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin-left: 10px;

  & > input {
    width: 50px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    margin-left: 16px;
  }
}

@media (max-width: 468px) {
  .container {
    transform: translateX(0);
    width: inherit;
  }
}